*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Open Sans"
}


html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans"
}

.clear{
	clear: both;

}


.center{
	max-width: 1280px
	padding: 0 2%;
	width: 100%;
	margin: 0 auto;
}

.header{
	min-width: 1200px;
	width: 100%;
	height: 60px;
	background-color: #212343;
}

.header img{
	margin: 10px;
}

.container-banner{
	
	width: 100%;
	padding: 0 2%;
	height: 557px;
	background-image: url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}



.container-banner > .center{
	height: 100%;
	
}



.form{
	padding: 20px;
	width: 30%;
	height: calc(100% + 30px);
	background-color: white;
	float: right;
	position: relative;
	top: -15px;
	border:8px solid rgba(120,120,120,0.3);
	background-color: white;
	background-clip:padding-box;
	/* O background-origin tem o mesmo conceito porém server para imagens*/

}	

.form h2{
 	font-weight: normal;
 	color:#999999 ;
 	font-size: 21px;
}

.input-container input[type=text]:focus{
	outline: 0;

}

.input-container{
	margin-top: 20px;
}	

.input-container span,.form p{
	display: inline-block;
	width: 100px;
	color: #BBBBBB;
	font-size: 17px;
}

.form p{
	display: inline-block;
	width: 100px;
	color: #BBBBBB;
	font-size: 17px;
}

.input-container input[type=text]{
	margin-top: 8px;
	width: 344px;
	height: 55px;
	padding:10px 8px 10px;
	border:1px solid #ccc;
}


.form .input-submit-container{
	text-align: center;

}

.form input[type=submit]{
	
	width: 280px;
	height: 56px;
	display: inline-block;
	background-color: #363A6D;
	font-size:25px;
	color:white;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	cursor: pointer;
	border-bottom: 5px solid #4A5097;
}

.form input[type="submit"]:hover{
	background-color: blue;
}


.container-list{
	padding: 30px;
	float: left;
	margin-top: 100px;
	width: 40%;
	height: 270px;
	background-color: rgba(33,35,67,0.7);
}

.container-list ul{
	list-style-position: inside;
}

.container-list ul li{
	margin-top: 18px;
	color: white;
}


.container-2{
	padding: 40px 2%;
	background-color: #DDD;
	text-align: center;

}

.container-2 h2{
	font-weight: normal;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	margin: 15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	top: 40px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
}

.section-1{
	padding: 90px 2%;

}

.section-1 h2{
	width: 100%;
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top:40px; 
}
.container-section{
	text-align: center;
}

.container-single{
	display: inline-block;
	margin-right: -4px; 
	float: left;
	width: 33.33%;
	padding: 30px;
}

.container-single p{
	padding: 10px 25px;
	text-align: justify;
}



.footer{
	border-top:4px solid #888888;
	padding: 30px 0;
	color: #888888;
	text-align: center;

}

.footer p{
	margin-top: 8px;
}


@media screen and (max-width: 1024px){
	.header{
			height: 	auto;	
			width: 	100%;
			padding: 15px;
			text-align: 	center;	
   }
   .header{
   	margin: 0;
   }
   .container-banner{
			width: 	100%;
			padding: 	40px 2%;
			height: 	auto;
	
	}

	.form{
			margin-top: 	30px;
			max-width: 	400px;
			padding: 	10px;
			width: 	90%;
			height: 	100%;
			display: 	inline-block;	
			float: none;
			top: 0;
			}	
     .container-list{
	  		float: 	none;	
			width: 	90%;
			max-width: 	500px;
			display: 	inline-block;	
			height: 	auto;
			padding: 	30px;
}
		.input-container input[type=text]{
			width: 	100%;
			height: 	55px;
		}


		.form input[type=submit]{
			max-width: 	280px;
			height: 	56px;
			width: 	100%;
		}

}

@media screen and (max-width: 	768px){
	.container-2{
		padding-right: 4%;
		padding-left: 4%;
	}
	.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.form{
		padding-right: 4%;
		padding-left: 4%;
		float: none;
		display: inline-block;
		width: 100%;
		margin-top: 30px;
		
	}

	.container-single{
		float: none;
		display: inline-block;
		max-width: 600px;
		width: 100%;
		padding: 30px 0;
	}

		.container-2 p{
		float: none;
		display: inline-block;
		max-width: 600px;
		width: 100%;
		padding: 30px 0;	
}



}